<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="row">
          <div class="col-sm-6">
            <div class="card-header">
              <h4 class="text-info">Our Product 
              <small class="text-success">Your Companions</small></h4>
            </div>
          </div>
        </div>
        <div class="row" style="padding: 15px 15px 15px 15px">
          <div class="col-lg-6 col-md-6">
            <div class="card" style="height: 230px;max-height: 230px;">
              <div class="card-header card-header-info">
                  <h5 class="card-title">Plug and Play OBD II Realtime GPS Car</h5>
              </div>            
              <div class="card-body">
                <div class="view" >
                  <img src="../../../assets/img/6.jpg" imageZoom="../../../assets/img/6.jpg" style="max-width: 100px;max-height: 200px"/>
                  <p class="mask">
                    No Wiring, Plug and Play OBD II Realtime GPS Car Tracker Subscription Free
                  </p>
                </div>                          
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="card" style="height: 230px;max-height: 230px;">
              <div class="card-header card-header-info">
                  <h5 class="card-title">KIDS GPS Tracker Watch</h5>
              </div>            
              <div class="card-body">
                <div class="view">
                  <img src="../../../assets/img/7.jpg" imageZoom="../../../assets/img/7.jpg" style="max-width: 100px;max-height: 200px"/>
                  <p class="mask">
                    KIDS GPS Tracker Watch
                  </p>
                </div>                          
              </div>
            </div>
          </div>            
        </div>
        <div class="row" style="padding: 15px 15px 15px 15px">
          <div class="col-lg-6 col-md-6">
            <div class="card" style="height: 230px;max-height: 230px;">
              <div class="card-header card-header-info">
                  <h5 class="card-title">Advance OBD II Realtime GPS Car Tracker</h5>
              </div>            
              <div class="card-body">
                <div class="view">
                  <img src="../../../assets/img/8.jpg" imageZoom="../../../assets/img/8.jpg" style="max-width: 100px;max-height: 200px"/>
                  <p class="mask">
                      No Wiring Advance OBD II Realtime GPS Car Tracker + Engine Diagnostic with Free 1 Year Subscription
                  </p>
                </div>                          
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="card" style="height: 230px;max-height: 230px;">
              <div class="card-header card-header-info">
                  <h5 class="card-title">Mini GPS Tracker Real-Time location Tracking SOS Device</h5>
              </div>            
              <div class="card-body">
                <div class="view">
                  <img src="../../../assets/img/10.jpg" imageZoom="../../../assets/img/10.jpg" style="max-width: 100px;max-height: 200px"/>
                  <p class="mask">
                    Mini GPS Tracker Real-Time location Tracking SOS Device For Kids Pets Vehicle
                  </p>
                </div>                          
              </div>
            </div>
          </div>            
        </div>    
      </div>
    </div>
  </div>
</div>