<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <!-- <div class="col-lg-8 col-md-8">
          <div class="card card-body" style="height: 450px;" >
            <span>
              <img src="../../../assets/img/12.jpg">
            </span>
          </div>
        </div>
        <div class="vertical-space"></div> -->
        <div class="col-lg-12 col-md-12">
          <div class="card" style="height: 735px;width: 1073;background-image: url('../assets/img/12.jpg');">  
            <div class="card-header card-header-info">
              <h3 class="card-title">About Us</h3>
            </div>
            <div class="card-body">
              <p class="text-info">
                  We are Thane based startup with focus on GNSS based tracking products.
                  Hastaka products are same as companions. Always there to be with you and help you. 
                  Hastaka helps you to Locate and Track your loved ones and associates using Technology.
              </p>
            </div>
          </div>
        </div>      
      </div>
    </div>
  </div>