<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card" style="height: 650px;background-image: url('../assets/img/banner.jpg');">
          <div class="card-header card-header-info">
              <h4 class="card-title">Welcome To Hastaka</h4>
              <p class="card-category">Where Is My Family, Car, Friends</p>
          </div>            
          <div class="card-body">
            <p class="text-info">
                  Hastaka (हस्तक) is a Sanskrit word; it means a Companion, always with you no matter what situation you are in. 
                  Hastaka products are same as companions. Always there to be with you and help you. 
                  Hastaka helps you to Locate and Track your loved ones and associates using Technology. 
                  Hastaka Technology is Leader in GNSS Tracking Solutions (GPS, GLONASS, Galileo, Beidou, NAVIC). 
                  We provide trackers for Kids, Vehicles, Pets, Sr Citizens, Bags, Purses Etc. 
                  Feel free to contact us for any query.
                  " always with you no matter what situation you are in
            </p>            
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>