<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="row">
          <div class="col-md-10">
            <div class="card-header card-header-info">
              <h4 class="card-title">Our Shop</h4>
              <p class="card-category" style="color:#008000">You can buy our product from below channels</p>
            </div>
          </div>
        </div>
        <div class="row" style="padding: 15px 15px 15px 15px">
          <div class="col-sm-6">
            <div class="card card-body">
              <a href="#"  title="Hastaka on Amazon India">Hastaka on Amazon India</a>
              <span>We sell all of our products on Amazon India</span>
            </div>
          </div>
          <div class="col-sm-6">
              <div class="card card-body">
                <a href="#"  title="Ebay India">Ebay India</a>
                <span>We also sell some of our products on Ebay India.</span>
              </div>
          </div>
        </div>
        <div class="row" style="padding: 15px 15px 15px 15px">
            <div class="col-sm-6">
              <div class="card card-body">
                <a href="#"  title="Hastaka Store">Hastaka Store</a>
                <span>You can also buy our products from this website.</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card card-body">
                <a href="#"  title="Bulk Orders">Bulk Orders</a>
                <span>Please contact us if you want to buy any of our product in Bulk.</span>
              </div>  
            </div>
          </div>
      </div>
    </div>    
  </div>
</div>